*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
  height: 8%;
  background-color: red;
}

.main{
    height: 92%;
    background-color: green;
}