*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section1{
    flex-grow: 1;
    background-color: red;
}

.section2{
    flex-grow: 3;
    background-color: green;
}